.is-hidden {
  opacity: 0;
}
.search-form {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  height: 21px;
}
.search-icon {
  margin-left: 5px;
  fill: black;
  width: 15px;
  height: 15px;
}
